.grid-container {
    background: lightblue;
    display: grid;
    gap: 2rem;
    max-height: 95dvh;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 3fr 2fr 1fr;
    grid-template-areas:
        'header header'
        'side main'
        'impressum main'
        'footer footer';
}

@media screen and (max-width: 1000px) and (min-width: 500px) {
    .grid-container {
        grid-template-columns: 2fr repeat(2, 3fr);
        grid-template-rows: 3fr 7fr 2fr;
        grid-template-areas:
            'side header header'
            'side main main'
            'footer footer impressum';
    }
}

@media screen and (max-width: 500px) {
    .grid-container {
        grid-template-rows: 1fr 3fr repeat(3, 1fr);
        grid-template-columns: none;
        grid-template-areas:
            'header'
            'main'
            'side'
            'impressum'
            'footer';
    }
}

body {
    background-color: #5286C1;
    margin-left: 10%;
    margin-right: 20%;
}

.navbar {
    background-color: rgb(67 113 163);
    padding: 50px 150px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

.container {
    display: inline-block;
}

.grid-container {
    display: grid;
    margin-left: 100px;
    margin-right: 95%;
    grid-template-columns: 1fr idk idk 1fr;
    grid-template-rows: 150px 150px;
    grid-template-areas:
        "idk idk idk";
}

.soldat {
    grid-area: soldat;
}

.berg {
    grid-area: berg;
}

.spritze {
    grid-area: spritze gegen fettleibigkeit;
}

.mann {
    grid-area: random dude idk;
}

.mann {
    grid-area: random dude idk;
}


.frosch {
    grid-area: frosch;
}

.trump {
    grid-area: trump;
}

.emblem1 {
    margin-left: 220px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.emblem2 {
    margin-left: 220px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.weather {
    font-size: 23px;
    color: white;
}

.Bregenz {
    font-size: 23px;
    color: white;
}

.dropdown-p {
    display: none;
    color: white;
    font-style: arial;
}

.dropdown-p:target {
    display: block;
    background-color: white;
    color: black;
    padding: 100px;
    font-size: 25px;
    font-style: arial;
    margin-left: 150px;
}

.drop-title {
    color: white;
    font-size: 25px;
    padding-top: 25px;
    margin-left: 150px;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

.text {
    background-color: #5A8BC4;
    margin-left: 100px;
    margin-right: 10px;
}

h2 {
    position: relative;
    bottom: -76px;
}

.footer1 {
    background-color: #12375c;
    column-gap: initial;
    display: flex;
    justify-content: space-between;
    align-content: center;
    min-height: 55px;
    flex-wrap: wrap;
    margin-left: 0;
    padding: 6px 10px;
    padding-left: 0;
    white-space: nowrap;
    margin: 0 0 0 50px;
    list-style: none;
    padding-left: 10px;
    min-width: 36.875em;
}

main {
    display: block;
    background-color: #5A8BC4;
}