body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #ffffff;
}
h1 {
    text-align: center;
}
.question-container {
    margin: 20px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(118, 118, 118, 0.444);
    max-width: 600px;
}
.result {
    text-align: center;
    margin-top: 20px;
}